# Server Configuration
PORT=3000
NODE_ENV=development

# Database Connection (Supabase PostgreSQL via Prisma)
DATABASE_URL="postgresql://postgres.bjpagepazmpfxfhmiwfo:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.bjpagepazmpfxfhmiwfo:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"

